@import url("variaveis.css");

body{
    overflow-x: hidden !important;
}
.home-blog {
    background-image: url('../img/bg-blog-home.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 80vh;
}

.home-blog-content {

    position: relative;
    top: 10rem;
}

.swiper-container {
    width: 100%;
    height: 500px;
    overflow: hidden;

    .swiper-wrapper {
        gap: 1rem;

        .swiper-slide {
            position: relative;

            img {
                border-radius: 10px;
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }
    }
}

/*      *     Responsividade     Celular                   */

@media (max-width: 768px) and (orientation: portrait) {
    .home-blog {
        height: 130vh;
    }

    .swiper-pagination {
        display: none;
    }
}

/*      *     Responsividade     Celular  lanscape             */

@media screen and (orientation: landscape) and (max-width: 768px) {
    .home-blog {
        height: 200vh;
    }
}

/*       *    Responsividade     Tablet                   */

@media (min-width: 768px) and (max-width: 1440px) {
    .home-blog {
        height: 90vh;
    }
}

/*       *    Responsividade     Tablet  lanscape           */

@media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1200px) {
    .home-blog {
        height: 100vh;
    }

}

/*       *    Resposividade     notebook         */

@media (min-width: 1024px) and (max-width: 1440px) {

    .home-blog {
        height: 130vh;
    }

}