@import url("variaveis.css");

.blog-news {
    height: 520vh;
}

.blog-news-content {
    position: relative;
    top: 4.5rem;
    width: 100%;
    display: flex;
    gap: 2rem;

    .blog-text {
        width: 40%;

        .news-title {
            margin-bottom: 1rem;

            h2 {}
        }
    }

    .update-time {
        margin-bottom: 1rem;

        date {
            font-size: 14px;
            font-weight: 500;
            color: var(--preto);
        }
    }

    .news-banner {
        margin-bottom: 1rem;
        width: 100%;
        text-align: start;

        img {
            aspect-ratio: auto;
            object-fit: cover;
        }

    }

    .news-content-text {


        .text {
            font-size: 18px;
            font-weight: 500;
            color: var(--preto);
        }

        .bold {

            font-weight: 600;
        }
    }

    .blog-other-news {
        /* overflow-y: hidden; */
        width: 100%;
        max-width: 800px;
        display: flex;
        justify-content: center;

        .blog-vertical-slide {
            background-color: rgb(146, 138, 125);
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            box-sizing: border-box;
            height: 15%;

            .swiper-container {
                width: 100%;
                height: 100%;
                max-height: 620px;

                .swiper-wrapper {
                    width: 100%;

                    .swiper-slide {
                        background: #f1f1f1;
                        padding: 20px;
                        margin-bottom: 1px;
                        box-sizing: border-box;
                        display: flex;
                        gap: 1rem;
                        border-radius: 10px;



                        img {
                            width: 100%;
                            height: 150px;
                            object-fit: cover;
                        }

                        .slide-date {
                            color: #007bff;
                            font-size: 0.8em;
                        }

                        .slide-title {
                            font-weight: bold;
                            margin: 5px 0;
                        }

                        .slide-description {
                            font-size: 0.9em;
                        }

                        .read-more {
                            display: inline-block;
                            margin-top: 10px;
                            color: #007bff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

}


@media (max-width:320px) {
    .blog-news {
        height: 1900vh;
    }

    .blog-news-content {
        flex-direction: column;

        .blog-text {
            width: 100%;

            .news-banner {
                img {
                    width: 200px;
                }
            }
        }

        .blog-other-news {
            display: none;
        }
    }
}

/*     *      Responsividade     Celular               */


@media (min-width: 330px) and (max-width: 768px) {

    .blog-news {
        height: 1100vh;
    }

    .blog-news-content {
        flex-direction: column;

        .blog-text {
            width: 100%;

            .news-banner {
                img {
                    width: 200px;
                }
            }
        }

        .blog-other-news {
            display: none;
        }
    }
}

/*      *     Responsividade     landscape Celular         */

@media screen and (orientation: landscape) and (max-width: 768px) {

    .blog-news {
        height: 1400vh;
    }

    .blog-news-content {
        .blog-other-news {
            display: none;
        }
    }
}

/*     *      Responsividade     Tablet                  */

@media (min-width: 768px) and (max-width: 1440px) {
    .blog-news {
        height: 510vh;
    }

    .blog-news-content {
        flex-direction: column;

        .blog-text {
            width: 100%;

            .news-banner {
                text-align: center;
            }
        }
    }
}

/*     *     Responsividade     landscape Tablet             */

@media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1200px) {

    .blog-news {
        height: 310vh;
    }
}

/*     *     Responsividade     Notebook                */

@media (min-width: 1024px) and (max-width: 1440px) {
    .blog-news {
        height: 850vh;
    }
}