@import url("variaveis.css");

.specs-product {
    background-color: var(--cinzaClaro);

    .specs-product-content {
        position: relative;
        top: 6.5rem;

        .spec-title {
            text-align: center;
            margin-bottom: 6.5rem;

            h2 {
                font-size: 64px;
                font-weight: 700;
                color: var(--verdeEscuro);
            }
        }

        .specs-cards {
            display: flex;
            justify-content: center;
            width: 100%;
            gap: 1rem;

            .block1,
            .block2 {
                .block {
                    align-content: center;
                    background-color: var(--branco);
                    border-radius: 20px;
                    padding: 18px 40px;
                    margin-bottom: 1rem;
                    height: 159px;

                    h2 {
                        font-size: 20px;
                        font-weight: 600;
                        color: var(--verdeClaro);
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 18px;
                        font-weight: 500;
                        color: var(--preto);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .specs-product {
        height: 200vh;

        .specs-product-content {
            position: relative;
            top: 4rem;

            .spec-title {
                text-align: center;
                margin-bottom: 4rem;

                h2 {
                    font-size: 36px;
                }
            }

            .specs-cards {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 1rem;

                .block1,
                .block2 {
                    width: 100%;

                    .block {

                        padding: 10px 40px;
                        margin-bottom: 1rem;


                        h2 {
                            font-size: 18px;

                        }

                        p {
                            font-size: 12px;

                        }
                    }
                }
            }
        }
    }

}

/*           Resposividade     Tablet         */
@media (min-width: 768px) and (max-width: 1440px) {
    .specs-product {

        .specs-product-content {
            .spec-title {
                text-align: center;
                margin-bottom: 4rem;

                h2 {
                    font-size: 44px;
                }
            }
        }
    }


}
