@import url("variaveis.css");

.other-products {
    background-image: url('../img/bg-product-other.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    .text-content {
        position: relative;
        top: 6.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .title {
            font-size: 64px;
            font-weight: 700;
            color: var(--verdeEscuro);
            margin-bottom: 3rem;
        }

        .sub-title {
            text-align: center;
            font-size: 24px;
            font-weight: 500;

            color: var(--verdeEscuro);
        }
    }

}

/*      *     Resposividade     Celular         */

@media (max-width: 768px) {

    .other-products {
        height: 130vh;

        .text-content {
            top: 4rem;
            .title {
                text-align: center;
                font-size: 36px;
                margin-bottom: 1rem;
                
            }
            
            .sub-title {
                font-size: 14px;
                margin-bottom: -8rem;
            }
        }
    }
}

/*       *    Resposividade     Landscape Celular         */

@media screen and (orientation: landscape) and (max-width: 768px){
    .other-products {
        height: 230vh;
    }
}

/*       *    Resposividade     Tablet         */

@media (min-width: 768px) and (max-width: 1440px) {
    .other-products {
        height: 110vh;

        .text-content {
            top: 4rem;
            .title {
                text-align: center;
                font-size: 44px;
                margin-bottom: 1rem;
                
            }
            
            .sub-title {
                font-size: 18px;
                margin-bottom: -8rem;
            }
        }
    }
}




@media (min-width: 1024px) and (max-width: 1440px) {
    .other-products {
        height: 140vh;
    }
}



