@import url("variaveis.css");

.use-products {
    background-image: url('../img/bg-product-use.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* efeito parallax */
    height: 110vh;
}

.use-products-content {
    position: relative;
    top: 6.5rem;

    .text-content {

        text-align: center;

        .title {
            font-weight: 600;
            font-size: 64px;
            color: var(--branco);
            margin-bottom: 1rem;
        }

        .sub-title {

            font-weight: 500;
            font-size: 24px;
            color: var(--branco);
            margin-bottom: 5rem;
        }
    }

    .galery-items {
        display: flex;
        margin-bottom: 10rem;
        gap: 2rem;

        .galery-content {
            width: 100%;

            .image-galery {
                display: flex;
                justify-content: center;
                margin-bottom: 1rem;
                width: 100%;
                height: 220px;

                img {

                    aspect-ratio: auto;
                    object-fit: cover;
                }
            }
            .title{
                font-size: 20px;
                font-weight: 600;
                text-align: center;
                color: var(--branco);
                margin-bottom: 1rem;
            }

            .img-description {
                font-size: 18px;
                font-weight: 500;
                text-align: center;
                color: var(--branco);
            }
        }
    }

    .sub {
        display: flex;
        justify-content: center;

        .btn-expert {
            transition: transform 0.5s, color 0.5s, width 0.5s ease;

            button {
                font-size: 15px;
                font-weight: 500;
                border-radius: 5px;
                cursor: pointer;
                color: var(--branco);
                background: var(--linearbg);
                align-items: center;
                justify-content: center;
                display: inline-flex;
                padding: 0 60px;
                height: 90px;
            }


            &:hover {
                transform: scale(1.05);
            }
        }
    }
}
/*     *      Resposividade     Celular         */


@media (max-width: 768px) {


    .use-products {
        height: 150vh;
    }

    .use-products-content {
        top: 4rem;

        .text-content {
            .title {
                font-size: 36px;
                margin-bottom: 1rem;
            }

            .sub-title {
                font-size: 14px;
                margin-bottom: 5rem;
            }
        }

        .galery-items {

            margin-bottom: 4rem;
            gap: 2rem;
            display: flex;
            flex-direction: column;

            .galery-content {
                    

                .image-galery {
                    margin-bottom: 1rem;
                    margin-right: 1rem;
                    width: 100%;
                    height: 50px;

                }

                .img-description {
                    font-size: 12px;
                    text-align: center;
                    color: var(--branco);
                }
            }
        }

        .sub {


            .btn-expert {

                

                button {
                    font-size: 12px;
                    padding: 0 40px;
                    height: 50px;
                }
            }
        }
    }


}

/*     *      Resposividade   Landscape  Celular         */

@media screen and (orientation: landscape) and (max-width: 768px) {
    .use-products {
        height: 240vh;
    }
}

/*      *     Resposividade     Tablet         */

@media (min-width: 768px) and (max-width: 1440px) {

    .use-products {
        height: 80vh;
    }
   

    .use-products-content {
        top: 4rem;

        .text-content {
            .title {
                font-size: 44px;
                margin-bottom: 1rem;
            }

            .sub-title {
                font-size: 18px;
                margin-bottom: 5rem;
            }
        }

        .galery-items {

            margin-bottom: 4rem;
            gap: 2rem;
          

            .galery-content {
              

                .image-galery {
                    margin-bottom: 1rem;
                    margin-right: 1rem;
                    width: 100%;
                    height: 160px;

                }

                .img-description {
                    font-size: 14px;
                    text-align: center;
                    color: var(--branco);
                }
            }

        }
    }





}
/*     *      Resposividade     Tablet Landscape         */

@media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1200px) {
    .use-products {
        height: 100vh;
    }
}


@media (min-width: 1024px) and (max-width: 1440px) {
    .use-products {
        height: 150vh;
    }
}

